/*galeria de imagenes y videos*/

.column img:hover {
    transform: scale(1.1);
    transition: 1s
}

.row {
    display: flex;
    padding: 1px;
    flex-wrap: wrap;
}

.column {
    flex: 25%;
    padding: 7px;
}

.column img {
    margin-top: 5px;
    width: 100%;
    transition: 1s;
}

@media (max-width: 800px) {
    .column {
        flex: 50%;
    }
}

@media (max-width: 600px) {
    .column {
        flex: 100%;
    }
}


.iframe-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 10px;
    margin-left: 30px;
    padding: 5px;
}

@media screen and (max-width: 600px) {
    .iframe-wrapper {
        grid-template-columns: 1fr;
    }
}