/*pagina de quienes somos*/

.club {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.textoqs {
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 24px;
    font-family: fantasy;
    text-align: justify;
}

.carousel {
padding: 30px;

}