/*fondo de pagina con imagen*/
body{
    
    background-color: gray;
    background-attachment: fixed;
}


/*texto inicial de cada html*/
.inicio {
    font-size: 50px;
    margin-top: 81px;
    background-color: coral;
    text-align: center;
}